@use '../setup/typography';
@use '../setup/vars';

* {
  box-sizing: border-box;
}


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Funnel Sans', 'Roboto', sans-serif;
}


.icon {
  width: 1em;
  height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

.container {
  padding: 1em 2em;
  border-radius: 2em;
}